@using vNext.BlazorComponents.FluentValidation

@rendermode InteractiveWebAssembly

@inject IServiceProvider ServiceProvider

<h3>QuestionnaireEditor</h3>

<EditForm
    Model="Model"
    OnValidSubmit="HandleValidSubmit"
>
    <FluentValidationValidator />

    <HxInputText
        Label="Title"
        @bind-Value="Model.Title"
    />
    <HxInputTextArea
        Label="Description"
        @bind-Value="Model.Description"
    />

    <div class="row">
        <div class="col-11">
            <h3>Fields</h3>
        </div>
        <div class="col-1 text-right">
            <HxButton
                Icon="@BootstrapIcon.Plus"
                Color="ThemeColor.Success"
                Tooltip="Add"
                OnClick="Model.AddBlankField"
            />
        </div>
    </div>

    @for (int i = 0; i < Model.Fields.Count; i++)
    {
        int fieldIndex = i;

        <QuestionnaireFieldEditor
            ForbidTypeChangeFields="ForbidTypeChangeFields"
            @bind-Value="Model.Fields[fieldIndex]"
            CanMoveUp="fieldIndex > 0"
            OnMoveUp="() => MoveField(fieldIndex, -1)"
            CanMoveDown="fieldIndex + 1 < Model.Fields.Count"
            OnMoveDown="() => MoveField(fieldIndex, +1)"
            CanRemove="Model.Fields.Count > 1"
            OnRemove="() => Model.Fields.RemoveAt(fieldIndex)"
            OnSyncOptionsToNewType="newType => SyncOptionsToNewType(fieldIndex, newType)"
        />

        if (fieldIndex + 1 < Model.Fields.Count)
        {
            <hr/>
        }
    }

    <HxSubmit
        Text="Save"
        Color="@ThemeColor.Primary"
        Enabled="RendererInfo.IsInteractive"
        Spinner="IsSending"
    />
</EditForm>

@code {

    [Parameter]
    public required QuestionnaireEditModel InitialModel { get; set; }

    private IReadOnlySet<QuestionnaireFieldId> ForbidTypeChangeFields { get; set; } = null!;
    private QuestionnaireEditModel Model { get; set; } = null!;

    private bool? IsSending { get; set; }

    protected override void OnInitialized()
    {
        Model = InitialModel.Clone();

        if (Model.Fields.Count == 0)
        {
            Model.AddBlankField();
        }
        
        ForbidTypeChangeFields = Model.Fields
            .Select(x => x.Id)
            .ToHashSet();
    }

    private void MoveField(int fieldIndex, int change)
    {
        QuestionnaireFieldEditModel field = Model.Fields[fieldIndex];

        Model.Fields.RemoveAt(fieldIndex);
        Model.Fields.Insert(fieldIndex + change, field);
    }

    private async Task HandleValidSubmit()
    {
        Console.WriteLine("Got submit");
        Console.WriteLine(Model.Title);
        Console.WriteLine(Model.Description);

        HttpClient http = ServiceProvider.GetRequiredService<HttpClient>();

        IsSending = true;
        try
        {
            HttpResponseMessage response = await http.PostAsJsonAsync(ApiEndpointPaths.QuestionnairesNew, Model);
            response.EnsureSuccessStatusCode();
        }
        finally
        {
            IsSending = false;
            StateHasChanged();
        }
    }

    private void SyncOptionsToNewType(int i, QuestionnaireFieldType? newType)
    {
        QuestionnaireFieldEditModel field = Model.Fields[i];

        if (newType != QuestionnaireFieldType.Text) field.TextOptions = null;
        if (newType != QuestionnaireFieldType.Number) field.NumberOptions = null;
        if (newType != QuestionnaireFieldType.FileUpload) field.FileUploadOptions = null;

        // ReSharper disable once SwitchStatementHandlesSomeKnownEnumValuesWithDefault
        switch (newType)
        {
            case QuestionnaireFieldType.Text when field.TextOptions == null:
                field.TextOptions = new QuestionnaireTextFieldOptionsModel();
                break;

            case QuestionnaireFieldType.Number when field.NumberOptions == null:
                field.NumberOptions = new QuestionnaireNumberFieldOptionsModel();
                break;

            case QuestionnaireFieldType.FileUpload when field.FileUploadOptions == null:
                field.FileUploadOptions = new QuestionnaireFileUploadFieldOptionsModel();
                break;
        }
    }

}