.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

@media (min-width: 641px) {
    header {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}
