@inherits LayoutComponentBase

@layout BaseLayout

<div class="min-vh-100 d-flex flex-column">
    <TopMenu
        NavbarContainerCssClass="container"
    />

    <div class="main flex-grow-1 bg-light-subtle">
        @* TODO: page header version *@

        <div class="container">
            <div class="pt-4">
                @Body
            </div>
        </div>
    </div>
</div>
