@using Microsoft.EntityFrameworkCore
@using Namezr.Components.Account
@using Namezr.Infrastructure.Data
@using Namezr.Client.Studio

@inject IdentityUserAccessor UserAccessor
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory

<div class="nav-scrollable">
    <nav class="nav flex-column">

        <CreatorSelector
            CurrentCreatorId="CurrentCreatorId"
            Creators="Creators"
        />

        <div class="nav-item px-3">
            <NavLink class="nav-link" href=@($"studio/{CurrentCreatorId?.NoHyphens()}") Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href=@($"studio/{CurrentCreatorId?.NoHyphens()}/questionnaires")>
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Questionnaires
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href=@($"studio/{CurrentCreatorId?.NoHyphens()}/polls")>
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Polls
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href=@($"studio/{CurrentCreatorId?.NoHyphens()}/raffles")>
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Raffles
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href=@($"studio/{CurrentCreatorId?.NoHyphens()}/supporters")>
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Supporters
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href=@($"studio/{CurrentCreatorId?.NoHyphens()}/config")>
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Configuration
            </NavLink>
        </div>
    </nav>
</div>

@code {

    [Parameter]
    public CreatorSelectorOption[] Creators { get; set; } = [];

    [Parameter]
    public Guid? CurrentCreatorId { get; set; }

}
