@layout BaseLayout

@inherits LayoutComponentBase

<div class="main-container">
    <div class="sidebar">
        <StudioMenu
            CurrentCreatorId="CurrentCreatorId"
        />
    </div>

    <main>
        <div class="container pt-3 pb-5">
            <CascadingValue Value="this">
                @Body
            </CascadingValue>
        </div>
    </main>
</div>

@code {

    public Guid? CurrentCreatorId
    {
        get => field;
        set
        {
            field = value;
            StateHasChanged();
        }
    }

}