@using Microsoft.EntityFrameworkCore
@using Namezr.Components.Account
@using Namezr.Features.Creators.Data
@using Namezr.Features.Identity.Data
@using Namezr.Infrastructure.Data
@using Namezr.Client.Studio

@inject IdentityUserAccessor UserAccessor
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory

<div class="nav-scrollable">
    <nav class="nav flex-column">

        <CreatorSelector
            CurrentCreatorId="CurrentCreatorId"
            Creators="_creators"
        />

        <div class="nav-item px-3">
            <NavLink class="nav-link" href=@($"studio/{CurrentCreatorId?.NoHyphens()}") Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href=@($"studio/{CurrentCreatorId?.NoHyphens()}/questionnaires")>
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Questionnaires
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href=@($"studio/{CurrentCreatorId?.NoHyphens()}/polls")>
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Polls
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href=@($"studio/{CurrentCreatorId?.NoHyphens()}/raffles")>
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Raffles
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href=@($"studio/{CurrentCreatorId?.NoHyphens()}/supporters")>
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Supporters
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href=@($"studio/{CurrentCreatorId?.NoHyphens()}/configuration")>
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Configuration
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private CreatorSelectorOption[] _creators = null!;

    [CascadingParameter]
    public required HttpContext HttpContext { get; set; }

    [Parameter]
    public Guid? CurrentCreatorId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ApplicationUser user = await UserAccessor.GetRequiredUserAsync(HttpContext);

        await using ApplicationDbContext dbContext = await DbContextFactory.CreateDbContextAsync();

        _creators = await dbContext.Creators
            .Where(c => c.Staff!.Any(s => s.UserId == user.Id))
            .Select(entity => new CreatorSelectorOption
            {
                Id = entity.Id,
                DisplayName = entity.DisplayName,
            })
            .ToArrayAsync();
    }

}
