/* TODO: is this still needed? */

.logo-letter {
    height: 2rem;
    width: 2rem;
}

.logo-text {
    font-family: "Leckerli One", cursive;
    font-weight: 400;
    font-style: normal;
    
    font-size: 1.8rem;
    
    line-height: 0.3rem;
    margin-top: -0.2rem;
}
