@rendermode InteractiveWebAssembly

@using Namezr.Client.Infra
@using Namezr.Client.Shared

@inject ISpaHttpClientProvider HttpClientProvider

<div class="d-flex flex-row flex-wrap gap-2">
    @foreach (SubmissionLabelModel label in AppliedLabels)
    {
        <SubmissionLabelPresenter
            Label="label"
        >
            <Button>
                <HxButton
                    Icon="BootstrapIcon.Trash"
                    Tooltip="Remove"
                    TooltipPlacement="TooltipPlacement.Bottom"
                    OnClick="() => RemoveLabel(label)"
                />
            </Button>
        </SubmissionLabelPresenter>
    }

    @if (AppliedLabels.Count == 0)
    {
        <i>Currently none</i>
    }

    <HxButton
        Icon="BootstrapIcon.Plus"
        Outline="true"
        Color="ThemeColor.Secondary"
        OnClick="() => _applyLabelModal!.ShowAsync()"
    />
</div>

<HxModal @ref="_applyLabelModal" CloseOnEscape="!_isSubmitting" ShowCloseButton="!_isSubmitting">
    <HeaderTemplate>
        <div class="flex-grow-1 d-flex justify-content-between align-items-center gap-3">
            <div>Pick label to apply</div>

            <HxTooltip Text="Create new label">
                <a href=@($"studio/{CreatorId.NoHyphens()}/config/submission-labels")
                   target="_blank"
                   class="btn btn-success"
                >
                    <HxIcon Icon="BootstrapIcon.Plus"/>
                </a>
            </HxTooltip>
        </div>
    </HeaderTemplate>

    <BodyTemplate>
        <HxListGroup Flush="true">
            @foreach (SubmissionLabelModel label in GetApplyableLabels())
            {
                <HxListGroupItem OnClick="() => ApplyLabel(label)">
                    <SubmissionLabelPresenter
                        Label="label"/>
                </HxListGroupItem>
            }

            @if (!GetApplyableLabels().Any())
            {
                <HxListGroupItem>
                    <i>No labels available</i>
                </HxListGroupItem>
            }
        </HxListGroup>

        @if (_isSubmitting)
        {
            <p>Working...</p>
        }
    </BodyTemplate>
</HxModal>

@code {
    private HxModal? _applyLabelModal;

    [Parameter]
    public Guid CreatorId { get; set; }

    [Parameter]
    public Guid SubmissionId { get; set; }

    [Parameter]
    public List<SubmissionLabelModel> AppliedLabels { get; set; } = [];

    [Parameter]
    public List<SubmissionLabelModel> PossibleLabels { get; set; } = [];

    private bool _isSubmitting;

    private IEnumerable<SubmissionLabelModel> GetApplyableLabels()
    {
        return PossibleLabels
            .ExceptBy(AppliedLabels.Select(label => label.Id), label => label.Id);
    }

    private async Task ApplyLabel(SubmissionLabelModel label)
    {
        await DoUpdatePresence(label, true);

        AppliedLabels.Add(label);
        StateHasChanged();

        await _applyLabelModal!.HideAsync();
    }

    private async Task RemoveLabel(SubmissionLabelModel label)
    {
        await DoUpdatePresence(label, false);

        AppliedLabels.Remove(label);
        StateHasChanged();
    }

    private async Task DoUpdatePresence(SubmissionLabelModel label, bool newPresent)
    {
        HttpClient httpClient = HttpClientProvider.HttpClient;

        _isSubmitting = true;
        try
        {
            HttpResponseMessage response = await httpClient.PostAsJsonAsync(
                ApiEndpointPaths.SubmissionLabelsPresenceMutate,
                new MutateLabelPresenceRequest
                {
                    LabelId = label.Id,
                    SubmissionId = SubmissionId,

                    NewPresent = newPresent,
                }
            );

            // TODO: toasts
            response.EnsureSuccessStatusCode();
        }
        finally
        {
            _isSubmitting = false;
            StateHasChanged();
        }
    }

}