@rendermode InteractiveWebAssembly

@if (Label == null) return;

<HxTooltip
    Text="@Label.Description"
    Placement="TooltipPlacement.Top"
>
    <div
        class="d-inline-flex rounded px-2 py-1"
        style="background-color: @Label.Colour"
    >
        @*@if (Label.Icon != null)
        {
            <HxIcon Icon="Label.Icon"/>
        }*@

        <div>@Label.Text</div>

        @Button
    </div>
</HxTooltip>

@code {

    [Parameter]
    public SubmissionLabelModel? Label { get; set; }

    [Parameter]
    public RenderFragment? Button { get; set; }

}