@rendermode InteractiveWebAssembly

<h3>TheOopser</h3>

<div>
    <HxButton Color="ThemeColor.Danger " OnClick="DoAnOopsie">
        Do an oopsie
    </HxButton>
</div>

@code {

    private Task DoAnOopsie()
    {
        Console.WriteLine("Doing an oopsie");
        throw new Exception("An oppsie");
    }

}