@page "/questionnaires/{QuestionnaireId:guid}/{ExistingSubmissionId:guid?}"
@page "/questionnaires/{QuestionnaireId:guid}/new"

@using System.Collections.Immutable
@using System.Diagnostics
@using Microsoft.EntityFrameworkCore
@using Namezr.Client
@using Namezr.Client.Public.Questionnaires
@using Namezr.Features.Questionnaires.Data
@using Namezr.Infrastructure.Data
@using Namezr.Client.Studio.Questionnaires.Edit
@using Namezr.Features.Files
@using Namezr.Features.Files.Services
@using Namezr.Features.Identity.Data
@using Namezr.Features.Questionnaires.Services
@using Namezr.Features.Identity.Helpers
@using Namezr.Components
@using Namezr.Features.Eligibility.Components
@using Namezr.Features.PublicCommon.Components
@using Namezr.Client.Shared
@using Namezr.Features.Eligibility.Services
@using Namezr.Features.Notifications.Contracts
@using Namezr.Features.Questionnaires.Mappers
@using Namezr.Features.Questionnaires.Notifications
@using NodaTime
@using vNext.BlazorComponents.FluentValidation
@using Namezr.Features.Questionnaires.Models

@inject IQuestionnaireSubmissionContextService QuestionnaireSubmissionContextService
@inject IFieldValueSerializer FieldValueSerializer
@inject IFileUploadTicketHelper FileUploadTicketHelper
@inject IClock Clock
@inject NavigationManager NavigationManager
@inject INotificationDispatcher NotificationDispatcher
@inject IdentityUserAccessor UserAccessor
@inject ApplicationDbContext DbContext

@if (_context is null) return;

@if (_versionEntity is not null)
{
    <PageTitle>
        <StaticTruncatedText Text="@_versionEntity.Questionnaire.Title" MaxLength="25"/>
        <CreatorPublicTitleSuffix Creator="_versionEntity.Questionnaire.Creator"/>
    </PageTitle>

    /* TODO */
    @*<HxBreadcrumb>
        <HxBreadcrumbItem Text="Home" Href="/"/>
        <HxBreadcrumbItem Text="@_versionEntity.Questionnaire.Creator.DisplayName" Href="/"/>
        <HxBreadcrumbItem Text="Questionnaires" Href="/"/>
    </HxBreadcrumb>*@

    <ActivityCreatorHeader
        Creator="_versionEntity.Questionnaire.Creator"
        ActivityTitle="@_versionEntity.Questionnaire.Title"
    />

    @if (_isCurrentUserStaff)
    {
        <div class="mb-3">
            <a href="/studio/@_versionEntity.Questionnaire.CreatorId.NoHyphens()/questionnaires/@QuestionnaireId.NoHyphens()"
               class="btn btn-outline-primary">
                <i class="bi bi-gear"></i> Studio
            </a>
        </div>
    }

    <div>
        <pre>@_versionEntity?.Questionnaire.Description</pre>
    </div>

    <h3>Ways to be eligible:</h3>

    <PublicEligibilityPresenter
        CreatorId="@_versionEntity!.Questionnaire.CreatorId"
        Configuration="_versionEntity!.Questionnaire.EligibilityConfiguration"
        EligibilityResult="_context.EligibilityResult ?? EligibilityResult.None"
    />

    <div class="mb-2"></div>

    @switch (_context.DisabledReason)
    {
        case null:
            break;

        case SubmissionDisabledReason.SubmissionsClosed:
            <HxAlert Color="ThemeColor.Secondary">
                Submissions are currently closed.
            </HxAlert>
            break;

        case SubmissionDisabledReason.NotLoggedIn:
            <HxAlert Color="ThemeColor.Warning">
                Please log in to submit a response.
            </HxAlert>
            break;

        case SubmissionDisabledReason.NotEligible:
            <HxAlert Color="ThemeColor.Warning">
                You are currently not eligible.
            </HxAlert>
            break;

        case SubmissionDisabledReason.AlreadyApproved:
            <HxAlert Color="ThemeColor.Secondary">
                Your submission has already been approved and cannot be edited.
            </HxAlert>
            break;

        case SubmissionDisabledReason.SubmissionLimitReached:
            <HxAlert Color="ThemeColor.Warning">
                You have reached the maximum number of submissions allowed for this questionnaire.
            </HxAlert>
            break;

        case SubmissionDisabledReason.InvalidExistingSubmissionId:
            <HxAlert Color="ThemeColor.Warning">
                Invalid URL - existing submission was not found or it belongs to a different user or questionnaire.
            </HxAlert>
            break;

        default:
            throw new UnreachableException();
    }

    @if (
        _context.ExistingSubmissions.Count > 1 ||
        (_context.ExistingSubmissions.Count > 0 && _context.CanCreateMoreSubmissions)
    )
    {
        <HxCard>
            <HeaderTemplate>
                My submissions
            </HeaderTemplate>
            <BodyTemplate>
                <div class="d-flex flex-row gap-2">
                    @foreach (QuestionnaireSubmissionEntity submission in _context.ExistingSubmissions)
                    {
                        <a href="/questionnaires/@QuestionnaireId.NoHyphens()/@submission.Id.NoHyphens()"
                           class=@("btn " + (submission.Id == _context.SubmissionForUpdate?.Id ? "btn-primary" : "btn-outline-primary"))
                        >
                            #@submission.Number
                        </a>
                    }

                    @if (_context.CanCreateMoreSubmissions)
                    {
                        <a href="/questionnaires/@QuestionnaireId.NoHyphens()/new"
                           class=@("btn btn-success")
                        >
                            <i class="bi bi-plus-lg"></i> New
                        </a>
                    }
                </div>
            </BodyTemplate>
        </HxCard>
    }

    @if (ConfigModel is not null)
    {
        <SubmissionEditor
            Config="ConfigModel"
            SubmissionId="_context.SubmissionForUpdate?.Id"
            InitialValues="_initialValues"
            FileUploadTickets="_fileUploadTickets"
            AllDisabled="_context.DisabledReason.HasValue"
            QuestionnaireId="QuestionnaireId"
            QuestionnaireVersionId="QuestionnaireVersionId!.Value"
        />
    }
}

@if (_context.SubmissionForUpdate is { ApprovedAt: not null } || SubmissionLabels is { Length: > 0 })
{
    <HxCard>
        <BodyTemplate>
            <div class="d-flex flex-wrap gap-2">
                @if (_context.SubmissionForUpdate?.ApprovedAt != null)
                {
                    <HxBadge Color="ThemeColor.Success">
                        Approved
                    </HxBadge>
                }

                @foreach (SubmissionLabelEntity label in SubmissionLabels)
                {
                    <SubmissionLabelPresenter Label="label.ToModel()"/>
                }
            </div>
        </BodyTemplate>
    </HxCard>
}

@if (_context.SubmissionForUpdate is not null)
{
    <HxCard>
        <BodyTemplate>
            <EditForm Model="NewComment" FormName="new-comment" OnValidSubmit="OnValidSubmitNewComment">
                <FluentValidationValidator/>

                <HxInputTextArea @bind-Value="NewComment.Content"/>
                <HxSubmit Color="ThemeColor.Primary" Text="Post comment"/>
            </EditForm>
        </BodyTemplate>
    </HxCard>
}

@foreach (SubmissionHistoryPublicCommentEntity comment in SubmissionComments)
{
    <HxCard>
        <HeaderTemplate>
            <div class="d-flex justify-content-between align-items-center gap-2">
                @if (comment.InstigatorIsStaff)
                {
                    <span>Staff comment</span>
                }
                else
                {
                    <span>Your comment</span>
                }

                <div>
                    <RelativeTime Value="comment.OccuredAt.ToDateTimeOffset()"/>
                </div>
            </div>
        </HeaderTemplate>
        <BodyTemplate>
            <pre>@comment.Content</pre>
        </BodyTemplate>
    </HxCard>
}

@code {
    private QuestionnaireVersionEntity? _versionEntity;
    private bool _isCurrentUserStaff;

    [Parameter]
    public Guid QuestionnaireId { get; set; }

    [Parameter]
    public Guid? ExistingSubmissionId { get; set; }

    [CascadingParameter]
    public required HttpContext HttpContext { get; set; }

    private QuestionnaireConfigModel? ConfigModel { get; set; }
    private Guid? QuestionnaireVersionId { get; set; }

    private SubmissionHistoryPublicCommentEntity[] SubmissionComments { get; set; } = [];
    private SubmissionLabelEntity[] SubmissionLabels { get; set; } = [];

    [SupplyParameterFromForm]
    private SubmissionCreateSubmitterCommentModel NewComment { get; set; } = new();

    private Dictionary<string, SubmissionValueModel>? _initialValues;
    private Dictionary<Guid, string> _fileUploadTickets = new();

    private QuestionnaireSubmissionContext? _context;

    protected override async Task OnInitializedAsync()
    {
        // Stage 1: Retrieve the latest questionnaire version
        _versionEntity = await QuestionnaireSubmissionContextService.GetLatestQuestionnaireVersionAsync(
            QuestionnaireId, HttpContext.RequestAborted
        );

        if (_versionEntity is null)
        {
            // TODO: 404
            throw new($"Questionnaire with ID {QuestionnaireId} not found.");
        }

        // Stage 2: Retrieve the user
        ApplicationUser? user = await UserAccessor.GetUserAsync(HttpContext);

        // Stage 2.5: Check if current user is staff for this creator
        if (user is not null)
        {
            _isCurrentUserStaff = await DbContext.Creators
                .Where(c => c.Id == _versionEntity.Questionnaire.CreatorId)
                .AnyAsync(c => c.Staff!.Any(s => s.UserId == user.Id));
        }

        // Stage 3: Retrieve the submission context (multiple submissions)
        _context = await QuestionnaireSubmissionContextService.GetSubmissionContextAsync(
            PrepareContextArgs(user),
            HttpContext.RequestAborted
        );

        ConfigModel = _versionEntity.MapToConfigModel();
        QuestionnaireVersionId = _versionEntity?.Id;

        if (_context.SubmissionForUpdate is not null)
        {
            await LoadSubmissionHistory();
            _initialValues = new Dictionary<string, SubmissionValueModel>();

            foreach (QuestionnaireFieldValueEntity fieldValue in _context.SubmissionForUpdate.FieldValues!)
            {
                QuestionnaireFieldType? fieldType = _versionEntity!.Fields!
                    .SingleOrDefault(fieldConfig => fieldConfig.FieldId == fieldValue.FieldId)
                    ?.Field.Type;

                if (fieldType is null) continue;

                _initialValues.Add(
                    fieldValue.FieldId.ToString(),
                    FieldValueSerializer.Deserialize(fieldType.Value, fieldValue.ValueSerialized)
                );
            }
        }

        if (_context.DisabledReason == null)
        {
            CreateFileUploadTickets();
        }
    }

    private GetSubmissionContextArgs PrepareContextArgs(ApplicationUser? user)
    {
        string path = HttpContext.Request.Path.Value ?? string.Empty;
        
        // TODO: extremely hacky check
        bool isNewSubmission = path.Contains("/new");

        return new GetSubmissionContextArgs
        {
            QuestionnaireVersion = _versionEntity!,
            CurrentUser = user,

            SubmissionMode = isNewSubmission ? SubmissionMode.CreateNew : SubmissionMode.Automatic,
            SubmissionForUpdateId = ExistingSubmissionId,
        };
    }

    private async Task LoadSubmissionHistory()
    {
        if (_context!.SubmissionForUpdate is null)
        {
            return;
        }

        SubmissionComments = await DbContext.SubmissionHistoryEntries
            .OfType<SubmissionHistoryPublicCommentEntity>()
            .Where(entry => entry.SubmissionId == _context.SubmissionForUpdate.Id)
            .OrderByDescending(comment => comment.OccuredAt)
            .ToArrayAsync();

        SubmissionLabels = await DbContext.SubmissionLabels
            .Where(label =>
                label.IsSubmitterVisible &&
                label.Submissions!.Any(submission => submission.Id == _context.SubmissionForUpdate.Id)
            )
            .ToArrayAsync();
    }

    private void CreateFileUploadTickets()
    {
        _fileUploadTickets = ConfigModel!.Fields
            .Where(field => field.Type == QuestionnaireFieldType.FileUpload)
            .ToDictionary(
                field => field.Id,
                field => FileUploadTicketHelper.CreateForCurrentUser(new NewFileRestrictions
                {
                    MinBytes = field.FileUploadOptions?.MinItemSizeBytes,
                    MaxBytes = field.FileUploadOptions?.MaxItemSizeBytes,
                    AllowedExtensions = field.FileUploadOptions?.AllowedExtensions.ToImmutableList(),
                })
            );
    }

    private async Task OnValidSubmitNewComment()
    {
        ApplicationUser submitter = await UserAccessor.GetRequiredUserAsync(HttpContext);
        Guid submitterId = submitter.Id;

        SubmissionHistoryPublicCommentEntity comment = new()
        {
            SubmissionId = _context!.SubmissionForUpdate!.Id,
            OccuredAt = Clock.GetCurrentInstant(),

            InstigatorUserId = submitterId,
            InstigatorIsStaff = false,
            InstigatorIsProgrammatic = false,

            Content = NewComment.Content,
        };

        DbContext.SubmissionHistoryEntries.Add(comment);
        await DbContext.SaveChangesAsync();

        NotificationDispatcher.Dispatch(
            new SubmitterLeftCommentNotificationData
            {
                CreatorId = _versionEntity!.Questionnaire.CreatorId,
                CreatorDisplayName = _versionEntity!.Questionnaire.Creator.DisplayName,

                QuestionnaireId = _versionEntity!.Questionnaire.Id,
                QuestionnaireName = _versionEntity!.Questionnaire.Title,

                SubmitterId = submitterId,
                SubmitterName = submitter.UserName ?? string.Empty,

                SubmissionId = _context.SubmissionForUpdate.Id,
                SubmissionNumber = _context.SubmissionForUpdate.Number,

                SubmissionStudioUrl = NavigationManager
                    .ToAbsoluteUri(
                        $"studio/{_versionEntity.Questionnaire.CreatorId.NoHyphens()}/questionnaires/{QuestionnaireId.NoHyphens()}/submissions/{_context.SubmissionForUpdate.Id.NoHyphens()}"
                    )
                    .AbsoluteUri,

                CommentBody = NewComment.Content,
            }
            .ToNotification()
        );

        NavigationManager.Refresh();
    }

}