@page "/questionnaires/{QuestionnaireId:guid}"

@using System.Collections.Immutable
@using System.Diagnostics
@using Microsoft.EntityFrameworkCore
@using Namezr.Client.Public.Questionnaires
@using Namezr.Features.Questionnaires.Data
@using Namezr.Infrastructure.Data
@using Namezr.Client.Studio.Questionnaires.Edit
@using Namezr.Features.Consumers.Services
@using Namezr.Features.Eligibility.Services
@using Namezr.Features.Files
@using Namezr.Features.Files.Services
@using Namezr.Features.Identity.Data
@using Namezr.Features.Questionnaires.Services
@using Namezr.Features.Identity.Helpers
@using Namezr.Components
@using Namezr.Features.Eligibility.Components
@using Namezr.Features.PublicCommon.Components
@using Namezr.Client.Shared

@inject ApplicationDbContext DbContext
@inject IEligibilityService EligibilityService
@inject IdentityUserAccessor UserAccessor
@inject IFieldValueSerializer FieldValueSerializer
@inject IFileUploadTicketHelper FileUploadTicketHelper

@if (_versionEntity is not null)
{
    <PageTitle>
        <StaticTruncatedText Text="@_versionEntity.Questionnaire.Title" MaxLength="25"/>
        <CreatorPublicTitleSuffix Creator="_versionEntity.Questionnaire.Creator"/>
    </PageTitle>

    /* TODO */
    @*<HxBreadcrumb>
        <HxBreadcrumbItem Text="Home" Href="/"/>
        <HxBreadcrumbItem Text="@_versionEntity.Questionnaire.Creator.DisplayName" Href="/"/>
        <HxBreadcrumbItem Text="Questionnaires" Href="/"/>
    </HxBreadcrumb>*@

    <ActivityCreatorHeader
        Creator="_versionEntity.Questionnaire.Creator"
        ActivityTitle="@_versionEntity.Questionnaire.Title"
    />

    <div>
        <pre>@_versionEntity?.Questionnaire.Description</pre>
    </div>

    <h3>Ways to be eligible:</h3>

    <PublicEligibilityPresenter
        CreatorId="@_versionEntity!.Questionnaire.CreatorId"
        Configuration="_versionEntity!.Questionnaire.EligibilityConfiguration"
        EligibilityResult="_eligibilityResult ?? EligibilityResult.None"
    />

    <div class="mb-2"></div>

    @switch (_disabledReason)
    {
        case null:
            break;

        case DisabledReason.SubmissionsClosed:
            <HxAlert Color="ThemeColor.Secondary">
                Submissions are currently closed.
            </HxAlert>
            break;

        case DisabledReason.NotLoggedIn:
            <HxAlert Color="ThemeColor.Warning">
                Please log in to submit a response.
            </HxAlert>
            break;

        case DisabledReason.NotEligible:
            <HxAlert Color="ThemeColor.Warning">
                You are currently not eligible.
            </HxAlert>
            break;

        case DisabledReason.AlreadyApproved:
            <HxAlert Color="ThemeColor.Secondary">
                Your submission has already been approved and cannot be edited.
            </HxAlert>
            break;

        default:
            throw new UnreachableException();
    }

    @if (ConfigModel is not null)
    {
        <SubmissionEditor
            Config="ConfigModel"
            SubmissionId="SubmissionId"
            InitialValues="_initialValues"
            FileUploadTickets="_fileUploadTickets"
            AllDisabled="_disabledReason.HasValue"
            QuestionnaireVersionId="QuestionnaireVersionId!.Value"
        />
    }
}

@* TODO: a form to leave a comment *@

@foreach (SubmissionHistoryPublicCommentEntity comment in SubmissionComments)
{
    <HxCard>
        <HeaderTemplate>
            <div class="d-flex justify-content-between align-items-center gap-2">
                @if (comment.InstigatorIsStaff)
                {
                    <span>Staff comment</span>
                }
                else
                {
                    <span>Your comment</span>
                }

                <div>
                    <RelativeTime Value="comment.OccuredAt.ToDateTimeOffset()"/>
                </div>
            </div>
        </HeaderTemplate>
    </HxCard>
}

@code {
    private QuestionnaireVersionEntity? _versionEntity;

    [Parameter]
    public Guid QuestionnaireId { get; set; }

    [CascadingParameter]
    public required HttpContext HttpContext { get; set; }

    private QuestionnaireConfigModel? ConfigModel { get; set; }
    private Guid? QuestionnaireVersionId { get; set; }
    private Guid? SubmissionId { get; set; }

    private SubmissionHistoryPublicCommentEntity[] SubmissionComments { get; set; } = [];

    private EligibilityResult? _eligibilityResult;

    private Dictionary<string, SubmissionValueModel>? _initialValues;
    private Dictionary<Guid, string> _fileUploadTickets = new();

    private DisabledReason? _disabledReason;

    protected override async Task OnInitializedAsync()
    {
        _versionEntity = await DbContext.QuestionnaireVersions
            .AsSplitQuery()
            .AsNoTracking()
            .Include(x => x.Questionnaire.EligibilityConfiguration).ThenInclude(x => x.Options)
            .Include(x => x.Questionnaire.Creator.SupportTargets)
            .Include(x => x.Fields!).ThenInclude(x => x.Field)
            .OrderByDescending(x => x.CreatedAt)
            .FirstOrDefaultAsync(q => q.Questionnaire.Id == QuestionnaireId);

        if (_versionEntity is null)
        {
            // TODO: 404
            throw new Exception($"Questionnaire with ID {QuestionnaireId} not found.");
        }

        if (_versionEntity!.Questionnaire.SubmissionOpenMode == QuestionnaireSubmissionOpenMode.Closed)
        {
            _disabledReason = DisabledReason.SubmissionsClosed;
        }

        ConfigModel = _versionEntity?.MapToConfigModel();
        QuestionnaireVersionId = _versionEntity?.Id;

        ApplicationUser? user = await UserAccessor.GetUserAsync(HttpContext);

        if (user is null)
        {
            _disabledReason ??= DisabledReason.NotLoggedIn;
        }
        else
        {
            _eligibilityResult = await EligibilityService.ClassifyEligibility(
                user.Id,
                _versionEntity!.Questionnaire.EligibilityConfiguration,
                UserStatusSyncEagerness.Default
            );

            if (!_eligibilityResult.Any)
            {
                _disabledReason ??= DisabledReason.NotEligible;
            }

            QuestionnaireSubmissionEntity? submission = await DbContext.QuestionnaireSubmissions
                .Include(x => x.FieldValues)
                .Include(x => x.History!.Where(entry => entry is SubmissionHistoryPublicCommentEntity))
                .FirstOrDefaultAsync(x => x.UserId == user.Id && x.Version.QuestionnaireId == QuestionnaireId);

            if (submission is null)
            {
                if (_versionEntity.Questionnaire.SubmissionOpenMode == QuestionnaireSubmissionOpenMode.EditExistingOnly)
                {
                    _disabledReason ??= DisabledReason.SubmissionsClosed;
                }
            }
            else
            {
                if (
                    submission.ApprovedAt is not null &&
                    _versionEntity.Questionnaire.ApprovalMode == QuestionnaireApprovalMode.RequireApprovalProhibitEditingApproved
                )
                {
                    _disabledReason ??= DisabledReason.AlreadyApproved;
                }

                _initialValues = new Dictionary<string, SubmissionValueModel>();
                SubmissionId = submission.Id;

                SubmissionComments = submission.History!
                    .Cast<SubmissionHistoryPublicCommentEntity>()
                    .OrderByDescending(comment => comment.OccuredAt)
                    .ToArray();

                foreach (QuestionnaireFieldValueEntity fieldValue in submission.FieldValues!)
                {
                    QuestionnaireFieldType? fieldType = _versionEntity.Fields!
                        .SingleOrDefault(fieldConfig => fieldConfig.FieldId == fieldValue.FieldId)
                        ?.Field.Type;

                    if (fieldType is null) continue;

                    _initialValues.Add(
                        fieldValue.FieldId.ToString(),
                        FieldValueSerializer.Deserialize(fieldType.Value, fieldValue.ValueSerialized)
                    );
                }
            }
        }

        if (_disabledReason == null)
        {
            CreateFileUploadTickets();
        }
    }

    private void CreateFileUploadTickets()
    {
        _fileUploadTickets = ConfigModel!.Fields
            .Where(field => field.Type == QuestionnaireFieldType.FileUpload)
            .ToDictionary(
                field => field.Id,
                field => FileUploadTicketHelper.CreateForCurrentUser(new NewFileRestrictions
                {
                    MinBytes = field.FileUploadOptions?.MinItemSizeBytes,
                    MaxBytes = field.FileUploadOptions?.MaxItemSizeBytes,
                    AllowedExtensions = field.FileUploadOptions?.AllowedExtensions.ToImmutableList(),
                })
            );
    }

    private enum DisabledReason
    {
        SubmissionsClosed,
        NotLoggedIn,
        NotEligible,
        AlreadyApproved,
    }

}