@page "/studio/questionnaires/{id:guid}/edit"

@using Microsoft.EntityFrameworkCore
@using Namezr.Client.Studio.Questionnaires.Edit
@using Namezr.Features.Questionnaires.Data
@using Namezr.Infrastructure.Data

@inject ApplicationDbContext DbContext

<h3>QuestionnaireEditPage</h3>

@if (InitialModel is not null)
{
    <QuestionnaireEditor
        InitialModel="InitialModel"
    />
}
/* TODO: conflates with is loading */
else
{
    <div>Not found</div>
}

@code {

    [Parameter]
    public Guid Id { get; set; }

    private QuestionnaireEditModel? InitialModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        QuestionnaireId id = QuestionnaireId.From(Id);

        QuestionnaireVersionEntity? entity = await DbContext.QuestionnaireVersions
            .AsNoTracking()
            .Include(x => x.Questionnaire)
            .Include(x => x.Fields!).ThenInclude(x => x.Field)
            .OrderByDescending(x => x.CreatedAt)
            .FirstOrDefaultAsync(q => q.Questionnaire.Id == id);

        InitialModel = entity?.MapToEditModel();
    }

}