@page "/studio/{creatorId:guid}/questionnaires"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Namezr.Client
@using Namezr.Components.Layout
@using Namezr.Features.Questionnaires.Data
@using Namezr.Infrastructure.Data

@attribute [Authorize]
@layout StudioLayout

@inject IDbContextFactory<ApplicationDbContext> DbContextFactory

<h3>StudioQuestionnaireHome</h3>

<a href="/studio/@CreatorId.NoHyphens()/questionnaires/new">New questionnaire</a>

@if (Questionnaires is null)
{
    <p><em>Loading...</em></p>
}
else if (Questionnaires.Any())
{
    <ul>
        @foreach (QuestionnaireEntity questionnaire in Questionnaires)
        {
            <li>
                <a href="/studio/questionnaires/@questionnaire.Id.NoHyphens()/edit">
                    @questionnaire.Title
                </a>
            </li>
        }
    </ul>
}
else
{
    <p>No questionnaires yet.</p>
}

@code {

    [Parameter]
    public Guid CreatorId { get; set; }

    private List<QuestionnaireEntity>? Questionnaires { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await using ApplicationDbContext dbContext = await DbContextFactory.CreateDbContextAsync();

        Questionnaires = await dbContext.Questionnaires
            .Where(q => q.CreatorId == CreatorId)
            .ToListAsync();
    }

}