@page "/studio/questionnaires/{id:guid}/edit"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Namezr.Client.Studio.Questionnaires.Edit
@using Namezr.Components.Layout
@using Namezr.Features.Questionnaires.Data
@using Namezr.Infrastructure.Data

@attribute [Authorize]
@layout StudioLayout

@inject IDbContextFactory<ApplicationDbContext> DbContextFactory

<h3>QuestionnaireEditPage</h3>

@if (InitialModel is not null)
{
    <QuestionnaireEditor
        QuestionnaireId="QuestionnaireId"
        InitialModel="InitialModel"
    />
}
/* TODO: conflates with is loading */
else
{
    <div>Not found</div>
}

@code {

    [Parameter]
    public Guid Id { get; set; }

    /// <remarks>
    /// Separate from <see cref="Id"/> as we don't handle not found yet
    /// </remarks>
    private Guid? QuestionnaireId { get; set; }

    private QuestionnaireEditModel? InitialModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await using ApplicationDbContext dbContext = await DbContextFactory.CreateDbContextAsync();
        
        QuestionnaireVersionEntity? entity = await dbContext.QuestionnaireVersions
            .AsNoTracking()
            .Include(x => x.Questionnaire)
            .Include(x => x.Fields!).ThenInclude(x => x.Field)
            .OrderByDescending(x => x.CreatedAt)
            .FirstOrDefaultAsync(q => q.Questionnaire.Id == Id);

        // TODO: Handle not found

        InitialModel = entity?.MapToEditModel();
        QuestionnaireId = entity?.QuestionnaireId;
    }

}