@page "/studio/{creatorId:guid}/questionnaires/{questionnaireId:guid}/selection"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Namezr.Client
@using Namezr.Components.Layout
@using Namezr.Features.Questionnaires.Data
@using Namezr.Infrastructure.Data
@using Namezr.Features.SelectionSeries.Data
@using Namezr.Features.Eligibility.Data
@using vNext.BlazorComponents.FluentValidation
@using Microsoft.AspNetCore.Components.Sections
@using Namezr.Features.Questionnaires.Components

@attribute [Authorize]
@layout StudioPageHeaderLayout

@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject NavigationManager NavigationManager

<SectionContent SectionId="StudioPageHeaderLayout.BreadcrumbSectionId">
    <HxBreadcrumb>
        @if (_questionnaire is not null)
        {
            <SelectionsBreadcrumbs
                Questionnaire="_questionnaire"
            />
        }
    </HxBreadcrumb>
</SectionContent>

<SectionContent SectionId="StudioPageHeaderLayout.TitleSectionId">
    Selection series
</SectionContent>

<div class="row">
    <div class="col-lg-6">
        <HxCard>
            <HeaderTemplate>
                Existing
            </HeaderTemplate>
            <BodyTemplate>
                <ul>
                    @foreach (SelectionSeriesEntity series in _series ?? [])
                    {
                        <li>
                            <a href="/studio/@CreatorId.NoHyphens()/questionnaires/@QuestionnaireId.NoHyphens()/selection/@series.Id.NoHyphens()">
                                @series.Name
                            </a>
                        </li>
                    }
                </ul>

                @if (_series?.Length == 0)
                {
                    <p>No selection series yet.</p>
                    <p>Use the form on the right to create a new one.</p>
                }
            </BodyTemplate>
        </HxCard>
    </div>

    <div class="col-lg-6">
        <HxCard>
            <HeaderTemplate>
                New
            </HeaderTemplate>
            <BodyTemplate>
                <EditForm
                    Model="NewSeries"
                    FormName="new-series"
                    OnValidSubmit="HandleNewSeriesValidSubmit"
                >
                    <FluentValidationValidator/>

                    <HxInputText
                        Label="Name"
                        @bind-Value="NewSeries!.Name"/>
                    <HxSubmit
                        Text="Create"
                        Color="ThemeColor.Success"/>
                </EditForm>

            </BodyTemplate>
        </HxCard>
    </div>
</div>

@code {

    [CascadingParameter]
    public required IStudioPageContext StudioContext { get; set; }

    [Parameter]
    public Guid CreatorId { get; set; }

    [Parameter]
    public Guid QuestionnaireId { get; set; }

    private SelectionSeriesEntity[]? _series;
    private QuestionnaireEntity? _questionnaire;

    [SupplyParameterFromForm]
    public NewSeriesModel? NewSeries { get; set; }

    protected override async Task OnInitializedAsync()
    {
        bool setDefaultNewSeriesName = NewSeries is null;
        NewSeries ??= new NewSeriesModel();

        await StudioContext.SetCurrentCreatorAndValidateAccess(CreatorId);

        await using ApplicationDbContext dbContext = await DbContextFactory.CreateDbContextAsync();

        _questionnaire = await dbContext.Questionnaires
            .AsNoTracking()
            .FirstOrDefaultAsync(q => q.Id == QuestionnaireId && q.CreatorId == CreatorId);

        _series = await dbContext.SelectionSeries
            .Where(x => x.QuestionnaireId == QuestionnaireId)
            .ToArrayAsync();

        if (setDefaultNewSeriesName)
        {
            NewSeries.Name = _series.Length > 0 ? $"Series {_series.Length + 1}" : "Default";
        }
    }

    private async Task HandleNewSeriesValidSubmit()
    {
        // TODO: validate name uniqueness

        await using ApplicationDbContext dbContext = await DbContextFactory.CreateDbContextAsync();

        SelectionSeriesEntity newEntity = new SelectionSeriesEntity
        {
            Name = NewSeries!.Name,

            OwnershipType = EligibilityConfigurationOwnershipType.Questionnaire,
            QuestionnaireId = QuestionnaireId,

            CompleteCyclesCount = 0,
        };
        dbContext.SelectionSeries.Add(newEntity);

        await dbContext.SaveChangesAsync();

        NavigationManager.NavigateTo(
            $"/studio/{CreatorId.NoHyphens()}/questionnaires/{QuestionnaireId.NoHyphens()}/selection/{newEntity.Id.NoHyphens()}"
        );
    }

}