@page "/studio/{creatorId:guid}/questionnaires/new"

@using Microsoft.AspNetCore.Authorization
@using Namezr.Client.Studio.Questionnaires.Edit
@using Namezr.Client.Types
@using Namezr.Components.Layout
@using Namezr.Features.Creators.Services
@using Namezr.Features.Eligibility.Services

@attribute [Authorize]
@layout StudioLayout

@inject ISupportPlansService SupportPlansService
@inject IEligibilityService EligibilityService

<h3>QuestionnaireEditPage</h3>

@if (SupportPlans is not null && EligibilityDescriptors is not null)
{
    <QuestionnaireEditor
        CreatorId="CreatorId"
        InitialModel="InitialModel"
        EligibilityDescriptors="EligibilityDescriptors"
    />
}

@code {

    [CascadingParameter]
    public required StudioLayout StudioLayout { get; set; } = null!;

    [Parameter]
    public Guid CreatorId { get; set; }

    private QuestionnaireEditModel InitialModel { get; } = new();

    private List<SupportPlan>? SupportPlans { get; set; }
    private List<EligibilityDescriptor>? EligibilityDescriptors { get; set; }

    protected override async Task OnInitializedAsync()
    {
        StudioLayout.CurrentCreatorId = CreatorId;

        EligibilityDescriptors = EligibilityService
            .GetEligibilityDescriptorsFromAllSupportPlans(
                // TODO: in parallel
                await SupportPlansService.GetSupportPlans(CreatorId)
            )
            .ToList();
    }

}