@page "/studio/questionnaires/new"

@using Microsoft.AspNetCore.Authorization
@using Namezr.Client.Studio.Questionnaires.Edit

@attribute [Authorize]

<h3>QuestionnaireEditPage</h3>

<QuestionnaireEditor
    InitialModel="InitialModel"
/>

@code {
    private QuestionnaireEditModel InitialModel { get; } = new();
}