@page "/studio/{creatorId:guid}/questionnaires/{id:guid}/edit"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Namezr.Client.Studio.Questionnaires.Edit
@using Namezr.Client.Types
@using Namezr.Components.Layout
@using Namezr.Features.Creators.Services
@using Namezr.Features.Eligibility.Services
@using Namezr.Features.Questionnaires.Data
@using Namezr.Infrastructure.Data

@attribute [Authorize]
@layout StudioLayout

@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject ISupportPlansService SupportPlansService
@inject IEligibilityService EligibilityService

<h3>QuestionnaireEditPage</h3>

@if (InitialModel is not null && EligibilityDescriptors is not null)
{
    <QuestionnaireEditor
        CreatorId="CreatorId"
        QuestionnaireId="QuestionnaireId"
        InitialModel="InitialModel"
        EligibilityDescriptors="EligibilityDescriptors"
    />
}
/* TODO: conflates with is loading */
else
{
    <div>Not found</div>
}

@code {

    [CascadingParameter]
    public required StudioLayout StudioLayout { get; set; } = null!;

    [Parameter]
    public Guid CreatorId { get; set; }

    [Parameter]
    public Guid Id { get; set; }

    /// <remarks>
    /// Separate from <see cref="Id"/> as we don't handle not found yet
    /// </remarks>
    private Guid? QuestionnaireId { get; set; }

    private QuestionnaireEditModel? InitialModel { get; set; }
    private List<EligibilityDescriptor>? EligibilityDescriptors { get; set; }

    protected override async Task OnInitializedAsync()
    {
        StudioLayout.CurrentCreatorId = CreatorId;

        await using ApplicationDbContext dbContext = await DbContextFactory.CreateDbContextAsync();

        QuestionnaireVersionEntity? entity = await dbContext.QuestionnaireVersions
            .AsNoTracking()
            .Include(x => x.Questionnaire)
            .Include(x => x.Fields!).ThenInclude(x => x.Field)
            .OrderByDescending(x => x.CreatedAt)
            .FirstOrDefaultAsync(q => q.Questionnaire.Id == Id && q.Questionnaire.CreatorId == CreatorId);

        // TODO: Handle not found

        InitialModel = entity?.MapToEditModel();
        QuestionnaireId = entity?.QuestionnaireId;

        EligibilityDescriptors = EligibilityService
            .GetEligibilityDescriptorsFromAllSupportPlans(
                // TODO: in parallel
                await SupportPlansService.GetSupportPlans(CreatorId)
            )
            .ToList();
    }

}