@page "/studio/{creatorId:guid}/questionnaires/new"

@using Microsoft.AspNetCore.Authorization
@using Namezr.Client.Studio.Questionnaires.Edit
@using Namezr.Components.Layout

@attribute [Authorize]
@layout StudioLayout

<h3>QuestionnaireEditPage</h3>

<QuestionnaireEditor
    CreatorId="CreatorId"
    InitialModel="InitialModel"
/>

@code {

    [Parameter]
    public Guid CreatorId { get; set; }

    private QuestionnaireEditModel InitialModel { get; } = new();
}