@using System.Diagnostics
@using Namezr.Client.Types

@inherits Editor<Namezr.Client.Studio.Eligibility.Edit.EligibilityOptionEditModel>

<div class="row">
    <div class="col-5">
        <HxSelect
            Data="EligibilityDescriptors"
            Nullable="false"
            Label="Support plan"
            @bind-Value="Value.PlanId"
            @bind-Value:after="AfterPlanChanged"
            ValueSelector="@(x => x.Id)"
            TextSelector="GetEligibilityDescriptorDisplayName"
        />
    </div>
    <div class="col-4">
        <HxInputText
            Label="Priority group"
            Placeholder="None"
            @bind-Value="Value.PriorityGroup"
        />
    </div>
    <div class="col-2">
        <HxTooltip
            Trigger="TooltipTrigger.Focus"
            Text="How likely the entry is to be selected. An entry with a weight of 6 is twice as likely as one with a weight of 3. Highest weight per priority group is used. When multiple priority groups match, the highest weights will be summed together."
        >
            <HxInputNumber
                Label="Weight"
                @bind-Value="Value.PriorityModifier"/>
        </HxTooltip>
    </div>

    <div class="col-1">
        <HxButtonGroup>
            <HxButton
                Icon="@BootstrapIcon.Trash"
                Color="ThemeColor.Danger"
                Tooltip="Remove"
                Enabled="CanRemove"
                OnClick="OnRemove"
            />
        </HxButtonGroup>
    </div>
</div>

@code {

    [Parameter]
    public required List<EligibilityPlan> EligibilityDescriptors { get; set; }

    [Parameter]
    public bool CanRemove { get; set; }

    [Parameter]
    public EventCallback OnRemove { get; set; }

    private string GetEligibilityDescriptorDisplayName(EligibilityPlan plan)
    {
        return plan.Type switch
        {
            EligibilityType.SupportPlan => $"{plan.SupportPlan!.ServiceType} - {plan.SupportPlan!.DisplayName}",
            EligibilityType.Virtual => "Virtual - " + plan.VirtualEligibilityType,

            _ => throw new UnreachableException(),
        };
    }

    private void AfterPlanChanged()
    {
        if (string.IsNullOrWhiteSpace(Value.PriorityGroup) && Value.PlanId != null)
        {
            Value.PriorityGroup =
                EligibilityDescriptors.FirstOrDefault(x => x.Id == Value.PlanId)?.DefaultPriorityGroup
                ?? string.Empty;
        }
    }

}