@rendermode InteractiveWebAssembly

@using Namezr.Client.Shared

@for (int i = 0; i < Labels.Count; i++)
{
    SubmissionLabelModel label = Labels[i];
    int iLabel = i;

    /* TODO: edit button */
    /* TODO: display whether submitter visible or not */
    <LabelManagementEntry
        CreatorId="CreatorId"
        LabelStored="label"
        OnSaved="newLabel => Labels[iLabel] = newLabel"
    />
}

<h2>Add new</h2>

<LabelManagementEntry
    CreatorId="CreatorId"
    OnSaved="Labels.Add"
/>

@code {

    [Parameter]
    public List<SubmissionLabelModel> Labels { get; set; } = [];

    [Parameter]
    public required Guid CreatorId { get; set; }
    
}