@page "/ValidationTest"
<h3>ValidationTest</h3>

<EditForm Model="@Model2">
    @* <DataAnnotationsValidator /> *@
    @* <ValidationSummary /> *@

    @{
        string key = "Name";
    }
    
    <HxInputText @bind-Value="Model2[key].StrValue" />
</EditForm>

@code {
    public readonly Dictionary<string, string> Model = new()
    {
        ["Name"] = "123",
    };
    
    public readonly Dictionary<string, Container> Model2 = new()
    {
        ["Name"] = new Container { StrValue = "123" },
    };

    public class Container
    {
        public string StrValue { get; set; }
    }
}