@page "/StudioPage"

@using Namezr.Components.Layout
@using Havit.Blazor.Components.Web.Bootstrap

@layout StudioLayout

<HxCard CssClass="text-bg-info text-white mb-3">
    <BodyTemplate>
        <HxBreadcrumb Divider=">">
            @* TODO: link color *@
            <HxBreadcrumbItem Href="#" Text="Home"/>
            <HxBreadcrumbItem Href="#" Text="Library"/>
            <HxBreadcrumbItem Text="Data" Active="true"/>
        </HxBreadcrumb>
    </BodyTemplate>
</HxCard>

<h3>StudioPage</h3>
