@page "/creators/{creatorId:guid}/TestMySupportStatus"

@using Microsoft.AspNetCore.Authorization
@using Namezr.Components.Account
@using Namezr.Features.Consumers.Services
@using Havit.Blazor.Components.Web.Bootstrap
@using Namezr.Features.Identity.Data

@attribute [Authorize]

@inject IConsumerStatusService ConsumerStatusService
@inject IdentityUserAccessor IdentityUserAccessor

<h3>TestMySupportStatus</h3>

<form method="post" @onsubmit="OnSubmit" @formname="we-have-a-form-yay">
    <AntiforgeryToken />
    
    <HxSubmit
        Text="Submit"
        Color="ThemeColor.Primary"/>
</form>

@code {

    [CascadingParameter]
    public required HttpContext HttpContext { get; set; }
    
    [Parameter]
    public Guid CreatorId { get; set; }
    
    private async Task OnSubmit()
    {
        ApplicationUser user = await IdentityUserAccessor.GetRequiredUserAsync(HttpContext);
        
        await ConsumerStatusService.SyncOutdatedForAllTargets(user.Id, CreatorId);
    }

}