@rendermode InteractiveWebAssembly

@using Namezr.Client.Shared

@if (Label == null) return;

<HxPopover
    Trigger="PopoverTrigger.Hover"
    Title="@Label.Text"
    Content="@Label.Description"
>
    <div class="px-1" style="background-color: @Label.Colour">
        @*@if (Label.Icon != null)
        {
            <HxIcon Icon="Label.Icon"/>
        }*@

        @Label.Text?[0]
    </div>
</HxPopover>

@code {

    [Parameter]
    public SubmissionLabelModel? Label { get; set; }

}