.show-on-item-hover, .show-on-item-selected {
    visibility: hidden;
}

.item-container:hover .show-on-item-hover {
    visibility: visible;
}
.item-container.item-selected .show-on-item-selected {
    visibility: visible;
}