@page "/studio/{creatorId:guid}"

@using Microsoft.AspNetCore.Authorization
@using Namezr.Components.Layout

@attribute [Authorize]
@layout StudioLayout

<h3>StudioHome</h3>

@code {

    [Parameter]
    public required Guid CreatorId { get; set; }

    [CascadingParameter]
    public required IStudioPageContext StudioContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await StudioContext.SetCurrentCreatorAndValidateAccess(CreatorId);
    }

}
