@page "/studio/onboarding"

@using Microsoft.AspNetCore.Authorization
@using Namezr.Features.Creators.Components
@using Namezr.Components

@attribute [Authorize]

<PageTitle>
    Creator onboarding
    <PublicTitleSuffix/>
</PageTitle>

<h3>Creator onboarding</h3>

<PotentialTargetSelector />

@* TODO: Agree to Creator Terms *@

<HxAlert Color="ThemeColor.Info">
    You can add creator accounts from other platforms later
</HxAlert>
