@page "/PublicCreatorsList"

@using Microsoft.EntityFrameworkCore
@using Namezr.Features.Creators.Data
@using Namezr.Features.Questionnaires.Data
@using Namezr.Infrastructure.Data
@using Namezr.Components

@inject ApplicationDbContext DbContext

<PageTitle>
    Creators
    <PublicTitleSuffix/>
</PageTitle>

<h3>Creators</h3>

@foreach (CreatorEntity creator in _creators)
{
    <h3>@creator.DisplayName</h3>
    
    <ul>
        @foreach (QuestionnaireEntity questionnaire in creator.Questionnaires!)
        {
            <li>
                <a href="/questionnaires/@questionnaire.Id.ToString("N")">
                    @questionnaire.Title
                </a>
            </li>
        }
    </ul>
}

@code {
    private CreatorEntity[] _creators = [];

    protected override async Task OnInitializedAsync()
    {
        _creators = await DbContext.Creators
            .Include(x => x.Questionnaires)
            .AsSplitQuery()
            .ToArrayAsync();

        await base.OnInitializedAsync();
    }

}