@page "/studio/{creatorId:guid}/config/targets"

@using Microsoft.EntityFrameworkCore
@using Namezr.Components.Layout
@using Namezr.Features.Creators.Data
@using Namezr.Infrastructure.Data
@using Microsoft.AspNetCore.Components.Sections
@using Namezr.Client
@using Namezr.Features.StudioCommon.Components

@layout StudioPageHeaderLayout

@inject IDbContextFactory<ApplicationDbContext> DbContextFactory

<SectionContent SectionId="StudioPageHeaderLayout.BreadcrumbSectionId">
    <HxBreadcrumb>
        <ConfigurationBreadcrumbItems CreatorId="CreatorId"/>

        <HxBreadcrumbItem
            Href=@($"studio/{CreatorId.NoHyphens()}/config/targets")
            Text="Support targets"
        />
    </HxBreadcrumb>
</SectionContent>

<SectionContent SectionId="StudioPageHeaderLayout.TitleSectionId">
    Current support targets
</SectionContent>

<SectionContent SectionId="StudioPageHeaderLayout.ButtonsSectionId">
    <a
        href="/studio/@CreatorId.NoHyphens()/config/targets/new"
        class="btn btn-success"
    >
        Add
    </a>
</SectionContent>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Service type</th>
            
            @* TODO: display the name or vanity link instead *@
            <th>Account ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SupportTargetEntity supportTarget in _supportTargets)
        {
            <tr>
                <td>@supportTarget.ServiceType</td>
                <td>@supportTarget.ServiceId</td>
            </tr>
        }
    </tbody>
</table>

@code {

    [CascadingParameter]
    public required HttpContext HttpContext { get; set; } = null!;

    [CascadingParameter]
    public required IStudioPageContext StudioContext { get; set; }

    [Parameter]
    public Guid CreatorId { get; set; }

    private SupportTargetEntity[] _supportTargets = [];
    
    protected override async Task OnInitializedAsync()
    {
        await StudioContext.SetCurrentCreatorAndValidateAccess(CreatorId);

        await using ApplicationDbContext dbContext = await DbContextFactory.CreateDbContextAsync();

        _supportTargets = await dbContext.SupportTargets
            .Where(t => t.CreatorId == CreatorId)
            .ToArrayAsync(HttpContext.RequestAborted);
    }

}