@using Namezr.Features.Notifications.EmailComponents

<EmailNotificationLayout>
    <h3>SubmitterLeftCommentEmailNotification</h3>

    @* TODO *@
</EmailNotificationLayout>

@code {

    [Parameter]
    public required SubmitterLeftCommentNotificationData NotificationData { get; init; }

}